# IDE / редактор
.vscode/
.history/

# SQLite DB
db.sqlite3
db.sqbpro

# Redis dump
dump.rdb

# YAML экспорты
# yaml_exports/

# Файлы env
.env
.env.env

# Python virtual environment
venv/
__pycache__/
*.pyc
